<div>
  <button type="button" class="btn btn-primary"
           (click)="getProducts()">
   Show me products!
  </button>
  <div class="tableWrapper" *ngIf="showProducts">
      <table  class="productTable">
          <thead>
            <tr>
              <th>Product</th>
              <th>Bid Value</th>
              <th>Timestamp</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>{{product.product}}</td>
              <td>
                <input type="text" value="product.bidValue" [(ngModel)]="product.bidValue" [ngModelOptions]="{standalone: true}">
              </td>
              <td>
                <input type="text" value="product.timestamp" [(ngModel)]="product.timestamp" [ngModelOptions]="{standalone: true}">
              </td>
            </tr>
          </tbody>
        </table>
  <button type="button" class="btn btn-info" (click)="updateRecord()">Submit</button>  

  </div>
</div>
